.bornInContainer {
  max-width: 1370px;
  padding: 0px 0 200px;
  position: relative;
  overflow: hidden;
  width: 100%;

  @media (min-width: 320px) and (max-width: 750px) {
    padding-top: calc(128px + 50 * (100vw - 320px) / 430);
  }

  @media (min-width: 759px) and (max-width: 1920px) {
    padding-bottom: calc(112px + 88 * (100vw - 759px) / 1161);
  }
  @media (max-width: 759px) {
    padding-bottom: 112px;
  }

  .bornIn {
    padding-top: 122px;

    @media (min-width: 320px) and (max-width: 1920px) {
      padding-top: calc(0px + 122 * (100vw - 320px) / 1600);
    }

    .bornInTitle {
      margin-bottom: 64px;
      position: relative;
      z-index: 1;

      @media (min-width: 320px) and (max-width: 1079px) {
        margin-bottom: calc(26px + 42 * (100vw - 320px) / 759);
      }

      h1 {
        font-family: var(--font-family-bold), sans-serif;
        font-weight: 700;
        font-size: 86px;
        line-height: 116%;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        @media (min-width: 320px) and (max-width: 1920px) {
          font-size: calc(32px + 54 * (100vw - 320px) / 1600);
        }

        .h1Born {
          background: linear-gradient(45deg, #16BAFF, #8CC8FF);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }


        .h1Built {
          background: linear-gradient(45deg, #9E63FF, #FF2DA0);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        margin-bottom: 26px;
      }

      p {
        font-family: var(--font-family-medium), sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 156%;
        color: var(--secondary);
        max-width: 550px;
      }
    }

    .born-in-button {
      margin-bottom: 200px;
      position: relative;
      z-index: 1;
      @media (max-width: 1439px) {
        margin-bottom: 690px;
      }
      @media (min-width: 1000px) and (max-width: 1439px) {
        margin-bottom: calc(800px - 110 * (100vw - 1000px) / 439);
      }
      @media (min-width: 320px) and (max-width: 1000px) {
        margin-bottom: calc(330px + 470 * (100vw - 320px) / 680);
      }
    }

    .born-in-brands {
      margin-bottom: 200px;
      position: relative;
      z-index: 1;
    }

    .goingTheExtra {
      font-family: var(--font-family), sans-serif;
      font-weight: 700;
      font-size: 66px;
      letter-spacing: 0.036em;
      text-transform: uppercase;
      color: var(--white);
      position: relative;
      display: flex;
      flex-direction: column;

      @media (min-width: 1080px) and (max-width: 1440px) {
        font-size: calc(48px + 18 * (100vw - 1080px) / 360);
      }
      @media (max-width: 1079px) {
        display: none;
      }

      .blushipLabel {
        position: absolute;
        top: 160px;
        left: 179px;
        height: 86px;
        @media (min-width: 1080px) and (max-width: 1440px) {
          height: calc(65px + 21 * (100vw - 1080px) / 360);
          top: calc(113px + 47 * (100vw - 1080px) / 360);
          left: calc(130px + 49 * (100vw - 1080px) / 360);
        }
      }
    }

    .goingTheExtra span:nth-child(1) {
      margin-left: auto;
    }

    .goingTheExtra1079 {
      display: none;
      text-align: center;

      @media (min-width: 320px) and (max-width: 1079px) {
        font-size: calc(36px + 24 * (100vw - 320px) / 759);
      }

      @media (max-width: 1079px) {
        display: flex;

      }

      p:nth-child(1) {
        margin-left: inherit;
      }

      .blushipLabel {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%,);
      }
    }

  }
}

.bornInMainPhoto {
  pointer-events: none;
  position: absolute;
  top: 25px;
  right: -120px;
  z-index: 0;
  max-width: 1640px;

  @media (min-width: 320px) and (max-width: 1080px) {
    max-width: calc(540px + 1100 * (100vw - 320px) / 760);
    right: calc(-50px - 70 * (100vw - 320px) / 760);
  }
  @media (min-width: 1080px) and (max-width: 1439px) {
    top: 400px;
    right: calc(-80px + 80 * (100vw - 1080px) / 359);
    z-index: 0;
  }
  @media (min-width: 320px) and (max-width: 1080px) {
    top: calc(470px - 70 * (100vw - 320px) / 760);
    right: calc(-40px + 40 * (100vw - 320px) / 760);
    z-index: 0;
  }

}
