.brandContainer{
  width: 100%;
  overflow: hidden;
  .brand{
    @media  (max-width: 1079px) {
      display: none;
    }

    .brandsImagesContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4px;

      .partnerCard{
        max-width: 338px;
        backdrop-filter: blur(24px);
        background: rgba(239, 60, 189, 0.05);
        border-radius: 12px;
        padding: 12px 4px;
        width: 100%;
        box-sizing: border-box;
        height: 126px;

        @media (min-width: 1080px) and (max-width: 1440px) {
          max-width: calc(247px + 91 * (100vw - 1080px) / 360);
        }

      }
    }
  }
  .slick-slider{
    @media (min-width: 1080px){
      display: none;
    }
  }
  .slick-list{
    @media (min-width: 320px) and (max-width: 1079px) {
      margin-bottom: calc(112px - 30 * (100vw - 320px) / 759);
    }
  }
  .brand1079{
    .carouselImage{
      backdrop-filter: blur(24px);
      background: rgba(239, 60, 189, 0.05);
      border-radius: 12px;
      padding: 12px 4px;
      width: 100%;
      box-sizing: border-box;
      height: 86px;
      max-width: 189px;
    }
  }

}
.brandsTitle{
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--white);
  margin-bottom: 42px;
  text-align: center;

  span{
    background: linear-gradient(90deg, #16baff 0%, #8cc8ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.brandsTitle1079{
  @media (min-width: 1080px){
    display: none;
  }
}
