.capabilities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 200px;
  position: relative;

  @media (max-width: 1439px) {
    flex-direction: column;
  }
  @media (max-width: 757px) {
    padding: 100px 0 200px;
  }
  @media (min-width: 320px) and (max-width: 1920px) {
    padding-bottom: calc(84px + 116 * (100vw - 320px) / 1600);
  }

  .capabilitiesCardName {
    position: absolute;
    color: black;
    top: 68px;
    left: 70px;
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 152%;
    @media (min-width: 1080px) and (max-width: 1439px) {
      left: calc(70px + 190 * (100vw - 1080px) / 359);
    }
    @media (max-width: 757px) {
      top: 35px;
    }
  }

  .capabilitiesLeftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 554px;
    width: 100%;
    position: relative;

    @media (max-width: 1439px) {
      display: none;
    }


    .spotlight {
      position: absolute;
      bottom: -323px;
      max-width: 554px;
      width: 100%;


    }

    .capabilitiesCopywritingContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: -125px;
      max-width: 425px;
      width: 100%;
      text-align: center;


      h4 {
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 38px;
        line-height: 111%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: var(--skyblue);
        margin-bottom: 16px;
      }

      p {
        font-family: var(--font-family), sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 142%;
        text-align: center;
        color: var(--skyblue);
      }

    }
  }

  .capabilitiesRightColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;

    @media (min-width: 320px) and (max-width: 1080px) {
      max-width: calc(284px + 716 * (100vw - 320px) / 760);
    }

    .capabilitiesRightColumnText {
      max-width: 800px;
      align-self: flex-start;

      @media (min-width: 758px) and (max-width: 1440px) {
        align-self: flex-end;
        max-width: calc(460px + 134 * (100vw - 758px) / 682);
      }

      h3 {
        font-family: var(--font-family), sans-serif;
        font-size: 48px;
        line-height: 121%;
        text-transform: capitalize;
        color: #fff;
        margin-bottom: 24px;
      }

      p {
        font-family: var(--font-family-medium), sans-serif;

        font-size: 18px;
        line-height: 156%;
        color: var(--secondary);
      }

      .creating {
        margin-bottom: 24px;
      }

      .Dont {
        margin-bottom: 42px;
      }
    }

  }


}
