.statisticContainer {
  display: flex;
  justify-content: center;

  margin-bottom: 200px;
  @media (min-width: 320px) and (max-width: 1920px) {
    margin-bottom: calc(84px + 116 * (100vw - 320px) / 1600);
  }

  .statistic {
    display: flex;
    flex-wrap: wrap;
    max-width: 1365px;
    @media (max-width: 1439px) {
      max-width: 1000px;
      justify-content: space-around;
    }
    .partnerCard{
      max-width: 336px;
      @media (min-width: 320px) and (max-width: 759px) {
        max-width: calc(140px + 198 * (100vw - 320px) / 439);
      }

    }
  }

}