
.network {
  background:linear-gradient(180deg, rgba(30, 7, 31, 0) 50%,rgba(30, 7, 31, 0.7) 70%, rgba(30, 7, 31, 1) 100%),
          url('/images/services_bg.png') no-repeat,
          linear-gradient(180deg, #1e071f 0%, #0b091c 100%);
  background-size: revert;
  background-position: center top;
  max-width: 1360px;
  padding-bottom: 50px;
  margin-bottom: 200px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 320px) and (max-width: 1920px) {
    margin-bottom: calc(84px + 116 * (100vw - 320px) / 1600);
  }
  @media (min-width: 320px) and (max-width: 1080px) {
    background-size: cover;
    background-position: center;
  }

  .networkMainContentContainer {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .networkMainContent {
      text-align: center;
      max-width: 677px;
      width: 100%;
      padding: 70px 0 0;

      @media (min-width: 320px) and (max-width: 1079px) {
        max-width: calc(260px + 417 * (100vw - 320px) / 759);
      }

      .networkCard {
        margin-bottom: 50px;
        p{
          color: black;
        }
      }

      h3 {
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 48px;
        line-height: 121%;
        text-transform: capitalize;
        text-align: center;
        color: #fff;
        margin-bottom: 24px;
        @media (min-width: 320px) and (max-width: 1440px) {
          font-size: calc(32px + 16 * (100vw - 320px) / 1120);
        }
      }

      p {
        font-family: var(--font-family-medium), sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 156%;
        text-align: center;
        color: var(--secondary);
        margin-bottom: 42px;

        @media (min-width: 320px) and (max-width: 1440px) {
          font-size: calc(14px + 4 * (100vw - 320px) / 1120);
        }
      }
    }
  }

}