.serviceList {
  color: #8f92a0;
  max-width: 811px;
  width: 100%;
  @media (max-width: 1439px) {
    max-width: 1000px;
  }

  .serviceListHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, #9e63ff 0%, #ff2da0 100%);
    padding: 12px 28px;
    max-width: 1000px;

    p {
      font-family: var(--font-family-medium), sans-serif;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: black;

      @media (min-width: 320px) and (max-width: 720px) {
        font-size: calc(14px + 4 * (100vw - 320px) / 400);
      }

    }

    .arrowContainer {
      display: flex;

    }

    .arrowContainer > *:nth-child(1),
    .arrowContainer > *:nth-child(2) {
      margin-right: 12px;
    }
  }

  .serviceListItemsContainer {

    background: linear-gradient(180deg, #1e071f 0%, #0b091c 100%);
    max-width: 1000px;
    display: grid;
    gap: 10px;
    justify-content: center;
    padding: 15px;

    .serviceItem0, .serviceItem1, .serviceItem2, .serviceItem3, .serviceItem4, .serviceItem5 {
      grid-column: 1;
    }
    .serviceItem6, .serviceItem7, .serviceItem8, .serviceItem9, .serviceItem10, .serviceItem11 {
      grid-column: 2;
    }
    .serviceItem0 {
      grid-row: 1;
    }
    .serviceItem1 {
      grid-row: 2;
    }

    .serviceItem2 {
      grid-row: 3;
    }

    .serviceItem3 {
      grid-row: 4;
    }
    .serviceItem4 {
      grid-row: 5;
    }
    .serviceItem5 {
      grid-row: 6;
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(2, 1fr); // Две колонки 1440-1920px

    }

    @media (min-width: 758px) and (max-width: 1439px) {
      grid-template-columns: repeat(3, 1fr);
      .serviceItem0, .serviceItem3,.serviceItem6, .serviceItem9{
        grid-column: 1;
      }
      .serviceItem1, .serviceItem4,.serviceItem7, .serviceItem10{
        grid-column: 2;
      }
      .serviceItem2, .serviceItem5,.serviceItem8, .serviceItem11{
        grid-column: 3;
      }
      .serviceItem0 {
        grid-row: 1;
      }
      .serviceItem1 {
        grid-row: 1;
      }
      .serviceItem2 {
        grid-row: 1;
      }
      .serviceItem3 {
        grid-row: 2;
      }
      .serviceItem4 {
        grid-row: 2;
      }
      .serviceItem5 {
        grid-row: 2;
      }
      .serviceItem8{
        grid-row: 3;
      }
      .serviceItem9{
        grid-row: 4;
      }
      .serviceItem10{
        grid-row: 4;
      }
      .serviceItem11{
        grid-row: 4;
      }
    }

    @media (max-width: 757px) {
      grid-template-columns: repeat(2, 1fr); // Две колонки 320-757px
    }

    .serviceItem {

      cursor: pointer;
      display: flex;
      align-items: center;
      max-width: 365px;
      width: 100%;
      padding: 11px;

      @media (max-width: 1439px) {
        background: rgba(255, 255, 255, 0.02);
        border-radius: 8px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 120px;
        max-width: 320px;
        box-sizing: border-box;
      }

      img {
        margin-right: 12px;
        @media (max-width: 480px) {
          max-height: 46px;
        }
      }

      p {
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 157%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #8f92a0;
        max-width: 267px;

        @media (max-width: 480px) {
          font-size: 12px;
        }
      }
    }

    .serviceItem:hover {
      background: rgba(214, 218, 227, 0.04);
    }

    .serviceItemActive {
      background: rgba(214, 218, 227, 0.05);
      position: relative;
      border-radius: 8px;
    }

    .serviceItemActive::after {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      content: url('/images/Union.png');
      background-color: #ffffff;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      display: inline-block;
      text-align: center;
      line-height: 36px;

      @media (min-width: 320px) and (max-width: 1440px) {
        right: calc(5px + 15 * (100vw - 320px) / 1120);
      }

    }
  }
}
