.networkCarouselContainer {
  width: 100%;
  overflow: hidden;
  padding: 8px 0;
  position: relative;
  bottom: -25px;
}

.networkCarousel {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
  scrollbar-width: none; /* Для Firefox */
}

.carouselItem {


  &:hover {
    transform: scale(0.9);
    transition: all 0.3s ease;
  }
}

.carouselImage {
  min-width: 200px;
  max-width: 300px;
  height: 100px;
}

.carouselFallback {

}
.custom-carousel {

}

